<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<title></title>

<link href="lib/ionic/css/ionic.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

<!-- ionic/angularjs js -->
<script src="lib/ionic/js/ionic.bundle.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>

<!-- cordova script (this will be a 404 during development) -->
<script src="cordova.js"></script>

<!-- your app's js -->
<script src="js/app.js"></script>
<script src="js/services/hostservices.js"></script>
<script src="js/services/services.js"></script>
<script src="js/controllers/controllers.js"></script>
</head>
<body ng-app="starter" ng-controller="mainCtrl">

	<ion-pane>
	
		<ion-header-bar class="bar-stable">
			<h1 class="title">Spring Boot Demo</h1>
		</ion-header-bar> 
		<ion-content>
  			Some content!
		</ion-content>
		<ion-footer-bar>
	 		<div class="tabs tabs-icon-left tabs-positive">
	  			<a class="tab-item" href="#/topics" ng-click="showTopics(); closeAlert()">
	     			<i class="icon ion-thumbsup"></i>
	     			Topics
	   			</a>
				<a class="tab-item" href="#/" ng-click="closeAlert()">
				    <i class="icon ion-home"></i>
				</a>
           		<a class="tab-item" href="#/resultsr" ng-click="showResults(); closeAlert()">
     				<i class="icon ion-share"></i>Results
     			</a>
	 		</div>
		</ion-footer-bar>
		
	</ion-pane>
</body>
</html>
